<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam deleniti quos veniam sit magni consequuntur, eius, veritatis fugiat dolor, corporis molestiae nulla sint quod omnis aperiam. Eveniet facere error, minus vitae voluptate vero tenetur voluptatem obcaecati sequi, voluptatibus asperiores beatae porro laboriosam neque veniam, reprehenderit quas iste doloremque. Impedit, odio.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam deleniti quos veniam sit magni consequuntur, eius, veritatis fugiat dolor, corporis molestiae nulla sint quod omnis aperiam. Eveniet facere error, minus vitae voluptate vero tenetur voluptatem obcaecati sequi, voluptatibus asperiores beatae porro laboriosam neque veniam, reprehenderit quas iste doloremque. Impedit, odio.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam deleniti quos veniam sit magni consequuntur, eius, veritatis fugiat dolor, corporis molestiae nulla sint quod omnis aperiam. Eveniet facere error, minus vitae voluptate vero tenetur voluptatem obcaecati sequi, voluptatibus asperiores beatae porro laboriosam neque veniam, reprehenderit quas iste doloremque. Impedit, odio.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>